/*@import url("https://fonts.googleapis.com/css2?family=Alice&family=Anonymous+Pro&family=Arapey&family=Source+Code+Pro:wght@200&display=swap");*/

* {
  margin: 0px;
  padding: 0px;
  font-family: Palatino Linotype;
  box-sizing: border-box;
  /* text-decoration: none; */
  list-style: none;
  scroll-behavior: smooth;
  font-size: 16px;
}

:root {
  --yellow: #c1ff72;
  --grey: #1d4851;
  --grey2: #3f4859;
}

body {
  background-color: #1d4851;
  height: 3000px;
  height: 100%;
  padding: 1rem;
}

.toggle-profile {
  margin-top: 10px;
  margin-left: 10px;
  position: relative;
  display: none;
  cursor: pointer;
}

.id-card {
  position: fixed;
  width: 15rem;
  border-radius: 5px;
  z-index: 99;
  /*box-shadow: 0px 0px 2px rgba(0,0,0, 0.2);*/
  /*  overflow: scroll;*/
  padding-bottom: 1rem;
  top: 1rem;
  bottom: 1rem;
}

.top-card {
  /*position: absolute;*/
  width: 100%;
  background: rgba(0, 0, 50, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.3px);
  -webkit-backdrop-filter: blur(2.3px);
  border: 1px solid rgba(104, 30, 216, 0.19);
  padding: 1rem;
  border-radius: 5px;
}

.top-card .profile-picture {
  display: flex;
  margin: auto;
  width: 6rem;
  height: 6rem;
  background-position: center;
  background-size: contain;
  background-color: white;
  border-radius: 50%;
}

.top-card h5 {
  color: #c1ff72;
  font-family: Palatino Linotype;
}

.top-card p {
  color: white;
  font-size: 0.8rem;
  margin-top: -10px;
  font-family: Palatino Linotype;
}

.music-player{
  background: rgba(255,255,255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.3px);
  -webkit-backdrop-filter: blur(2.3px);
  border: 1px solid rgba(104, 30, 216, 0.19);
  height: auto;
  padding: 0.1rem;
  border-radius: 3px;  
}

audio {
  position: absolute;
  left: 0;
  width: 100%;
  height: 20px;
  border-radius: 5px;
  opacity: 0.8;
  background-color: white;
}

.audio-control {
  display: flex;
  justify-content: space-around;
}

.audio-control .btn-audio {
  cursor: pointer;
}

.running-text{
  color: white;
  font-size: 0.7rem;
}

.bottom-card {
  width: 100%;
  background: rgba(0, 0, 50, 0.19);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.3px);
  -webkit-backdrop-filter: blur(2.3px);
  border: 1px solid rgba(104, 30, 216, 0.19);
  /*position: absolute;*/
  padding: 0.5rem;
  border-radius: 5px;
  margin: 1rem 0;
}

.bottom-card * {
  font-size: 0.8rem;
  color: white;
  letter-spacing: 0.7px;
}

.bottom-card table {
  position: relative;
}

.bottom-card table::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: white;
  width: 95%;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.id-card .social-nav {
  position: relative;
  background: rgba(0, 0, 50, 0.19);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.3px);
  -webkit-backdrop-filter: blur(2.3px);
  border: 1px solid rgba(104, 30, 216, 0.19);
  width: 100%;
  height: 2rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  bottom: 0;
}

.bar-progress {
  width: 100%;
  margin: auto;
}

.bar-progress * {
  margin: auto;
}

.bar-progress .progress {
  width: 40px;
  height: 40px !important;
  line-height: 50px;
  background: none;
  box-shadow: none;
  position: relative;
}
.bar-progress .progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.bar-progress .progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.bar-progress .progress .progress-left {
  left: 0;
}
.bar-progress .progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 5px;
  border-style: solid;
  position: absolute;
  top: 0;
}
.bar-progress .progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.bar-progress .progress .progress-right {
  right: 0;
}
.bar-progress .progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 1.8s linear forwards;
}
.bar-progress .progress .progress-value {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: #000;
  font-size: 0.6rem;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 5%;
  line-height: 35px;
}
.bar-progress .progress.satu .progress-bar {
  border-color: var(--yellow);
}
.bar-progress .progress.satu .progress-left .progress-bar {
  animation: loading-2 1.5s linear forwards 1.8s;
}
.bar-progress .progress.dua .progress-bar {
  border-color: var(--yellow);
}
.bar-progress .progress.dua .progress-right .progress-bar {
  animation: loading-3 1.8s linear forwards;
}
.bar-progress .progress.dua .progress-left .progress-bar {
  animation: none;
}

.bar-progress p {
  font-size: 0.6rem;
}

.bar-progress-dua .label {
  display: flex;
  justify-content: space-between;
}

.bar-progress-dua .box-progres {
  margin: 10px 0;
}

.bar-progress-dua .box-progres span {
  color: #c1ff72;
  font-size: 0.6rem;
}

.id-card .social-nav svg {
  color: white;
}

.navbar-right {
  position: fixed;
  right: 1.5rem;
  background: rgba(0, 0, 50, 0.19);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.3px);
  -webkit-backdrop-filter: blur(2.3px);
  border: 1px solid rgba(104, 30, 216, 0.19);
  z-index: 99;
  border-radius: 5px;
  width: 3rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  box-shadow: 2px -2px 2px rgba(0, 0, 0, 0.2);
}

.navbar-right .box-icon {
  padding: 20px 0;
}

.navbar-right .box-icon i {
  font-size: 1.5rem;
  color: white;
}

.navbar-right .box-icon .bi {
  margin: 0.5rem;
  color: white;
}

.navbar-right .box-icon .nav-name {
  text-align: center;
  transform: rotate(90deg);
  margin: 15px 0;
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: var(--yellow);
  display: none;
  transition: 0.3s;
}

.navbar-right .box-icon .active {
  display: block;
}

.active {
  display: block;
  transition: 0.3s;
}

article {
  position: absolute;
  background: rgba(0, 0, 50, 0.19);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.3px);
  -webkit-backdrop-filter: blur(2.3px);
  border: 1px solid rgba(104, 30, 216, 0.19);
  left: 17.5rem;
  right: 5rem;
  padding: 1rem;
}

article .jumbotron {
  position: relative;
  padding-left: 1rem;
  padding-bottom: 1rem;
  /*background-image: url("../img/background-image.png");*/
  background-size: cover;
  background-position: center;
  box-shadow: 5px -5px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-right: 0.5rem;
  min-height: 17rem;
}

article .jumbotron::before {
  content: "";
  height: 100%;
  width: 100%;
  background-image: url("../img/background-image.png");
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

article .jumbotron h1 {
  font-size: 4rem;
  line-height: 4rem;
}

h1 {
  font-family: "Alice", serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 2.5rem;
  color: white;
  padding-top: 1.5rem;
}

article .jumbotron p {
  font-family: "Source Code Pro", monospace;
  font-size: 0.8rem;
  color: white;
  margin-top: -20px;
}

article .jumbotron span {
  color: var(--yellow);
}

article .jumbotron img {
  min-width: 170px;
  max-width: 25%;
  right: 0;
  position: absolute;
  bottom: 0;
}

article .jumbotron .btn-warning {
  background-color: var(--yellow);
  font-size: 0.8rem;
  font-family: "Alice", serif;
}

article .experience {
  display: flex;
  font-family: "Anonymous Pro", monospace;
}

article .experience h2 {
  font-size: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--yellow);
}

article .experience span {
  width: 2rem;
  display: flex;
  align-items: center;
  color: white;
  font-size: 0.8rem;
}

#workspage .card {
  cursor: pointer;
  background: rgba(0, 0, 50, 0.19);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.3px);
  -webkit-backdrop-filter: blur(2.3px);
  border: 1px solid rgba(104, 30, 216, 0.19);
  transition: 0.3s;
  box-shadow: 3px -3px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 0.5rem 0;
}

#workspage .card-img-top {
  transition: 0.3s;
}

#workspage .card-img-top:hover {
  transform: scale(1.02);
}

#workspage .card-title {
  color: white;
  max-width: 60%;
  font-family: "Alice";
  background-color: rgba(1, 1, 1, 0.5);
  border-radius: 3px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-content: center;
  z-index: 1;
  position: relative;
  height: 20px;
  margin-top: 5px;
  overflow: hidden;
}

#workspage .card-title h5 {
  letter-spacing: 2px;
  font-size: 1rem;
}

#workspage .card-body {
  margin-top: -30px;
}

#workspage .card-text {
  font-size: 0.8rem;
  padding-top: 10px;
  text-align: center;
  color: white;
}

#workspage .card-icon {
  display: flex;
  justify-content: space-around;
}

#workspage .card-icon img {
  width: 22px;
}

.container-fluid {
  background: rgba(0, 0, 50, 0.19);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.3px);
  -webkit-backdrop-filter: blur(2.3px);
  border: 1px solid rgba(104, 30, 216, 0.19);
  border-radius: 5px;
  color: white;
}

#aboutpage .carousel-item img {
  height: 300px;
  max-width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.button-warning {
  display: flex;
  justify-content: flex-end;
}
.btn-warning {
  width: 100px;
  margin-right: 0.5rem;
}

#contactpage form label {
  font-size: 0.8rem;
}

#contactpage form input {
  border-top: 0px solid transparent;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 1px solid white;
  border-radius: 0;
  font-size: 0.8rem;
  background-color: transparent;
  height: 1.5rem;
  color: white;
}

#contactpage form input:focus {
  /* outline:none; */
  /* -webkit-box-shadow:none; */
  border-color: var(--yellow);
  box-shadow: none;
}

#contactpage .box-chatme img {
/*  border-radius: 50%;
  width: 25px;
  height: 25px;*/
  display: flex;
/*  background-color: var(--yellow);
  padding: 4px;*/
  margin-right: 5px;
  margin-left: 5px;
}

#contactpage .box-chatme a {
  line-height: 12px;
  font-size: 0.8rem;
  text-decoration: none;
  color: white;
}

#contactpage .box-chatme span {
  font-size: 0.7rem;
  color: var(--yellow);
  text-decoration: none;
}

#contactpage .box-chatme {
  cursor: pointer;
  transition: 0.3s;
  width: 200px;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.2);
  padding: 0.3rem;
  border-radius: 2px;
  margin: 0.5rem 0;
}


#contactpage .box-chatme:hover {
  background-color: rgba(0, 0, 100, 0.5);
}

.row{
  margin-left: 0;
  margin-right: 0;
}

/* Laptop */
@media (max-width: 992px) {
  * {
    font-size: 14px;
  }

  #contactpage .box-chatme {
    margin: 0.5rem 0;
  }
}

/* Tablet */
@media (max-width: 768px) {
  * {
    font-size: 13px;
  }
  .id-card {
    width: 12rem;
  }

  article {
    left: 14rem;
  }

  .jumbotron {
    padding-bottom: 1rem;
  }

  .navbar-right {
    width: 3rem;
  }

  #contactpage h3 {
    text-align: center;
  }

  #contactpage .box-chatme {
    align-self: center;
  }
}

/* mobile phone */
@media (max-width: 575px) {
  * {
    font-size: 12px;
  }

  .toggle-profile {
    position: fixed;
    display: block;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2px;
  }

  .toggle-profile .bi-list {
    width: 2rem;
    color: white;
    cursor: pointer;
  }

  .id-card {
    display: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: auto;
    padding: 1rem 4rem;
    height: 100hv;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .navbar-right {
    width: 2rem;
    background-color: red;
    display: none !important ;
  }

  .navbar-right svg {
    width: 15px;
    height: 15px;
  }

  .navbar-right .box-icon .bi {
    margin: 0;
    color: white;
  }

  .navbar-right .box-icon {
    padding: 10px 0;
  }

  article {
    left: 1.5rem;
    right: 1.5rem;
  }

  .jumbotron {
    padding-bottom: 1rem;
  }

  .jumbotron .img-profile {
    display: none;
  }

  #contactpage h3 {
    margin-top: 20px;
  }
}

@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
  }
}
@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(160deg);
    transform: rotate(160deg);
  }
}

/*Background Style*/
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgb(60, 154, 235);
  overflow: hidden;
}

.background span {
  width: 36vmin;
  height: 36vmin;
  border-radius: 36vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 21;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #ffacac;
  top: 3%;
  left: 28%;
  animation-duration: 47s;
  animation-delay: -71s;
  transform-origin: 16vw 23vh;
  box-shadow: 72vmin 0 9.309887702407366vmin currentColor;
}
.background span:nth-child(1) {
  color: #ffacac;
  top: 22%;
  left: 67%;
  animation-duration: 258s;
  animation-delay: -235s;
  transform-origin: 11vw -13vh;
  box-shadow: 72vmin 0 9.909430193168696vmin currentColor;
}
.background span:nth-child(2) {
  color: #583c87;
  top: 34%;
  left: 99%;
  animation-duration: 276s;
  animation-delay: -51s;
  transform-origin: 12vw 18vh;
  box-shadow: 72vmin 0 9.740163310741323vmin currentColor;
}
.background span:nth-child(3) {
  color: #ffacac;
  top: 11%;
  left: 33%;
  animation-duration: 177s;
  animation-delay: -129s;
  transform-origin: 11vw 12vh;
  box-shadow: -72vmin 0 9.958356257608012vmin currentColor;
}
.background span:nth-child(4) {
  color: #583c87;
  top: 63%;
  left: 56%;
  animation-duration: 275s;
  animation-delay: -205s;
  transform-origin: 0vw 9vh;
  box-shadow: 72vmin 0 9.357220476006727vmin currentColor;
}
.background span:nth-child(5) {
  color: #ffacac;
  top: 27%;
  left: 81%;
  animation-duration: 169s;
  animation-delay: -204s;
  transform-origin: 15vw 9vh;
  box-shadow: 72vmin 0 9.567338700786566vmin currentColor;
}
.background span:nth-child(6) {
  color: #ffacac;
  top: 40%;
  left: 7%;
  animation-duration: 92s;
  animation-delay: -264s;
  transform-origin: 20vw 3vh;
  box-shadow: 72vmin 0 9.53880459085947vmin currentColor;
}
.background span:nth-child(7) {
  color: #ffacac;
  top: 18%;
  left: 43%;
  animation-duration: 42s;
  animation-delay: -142s;
  transform-origin: 7vw -1vh;
  box-shadow: -72vmin 0 9.158379793083888vmin currentColor;
}
.background span:nth-child(8) {
  color: #e45a84;
  top: 54%;
  left: 46%;
  animation-duration: 24s;
  animation-delay: -277s;
  transform-origin: 24vw -4vh;
  box-shadow: -72vmin 0 9.084122362439727vmin currentColor;
}
.background span:nth-child(9) {
  color: #ffacac;
  top: 76%;
  left: 76%;
  animation-duration: 129s;
  animation-delay: -130s;
  transform-origin: -17vw 10vh;
  box-shadow: -72vmin 0 9.995817954908002vmin currentColor;
}
.background span:nth-child(10) {
  color: #583c87;
  top: 50%;
  left: 16%;
  animation-duration: 199s;
  animation-delay: -177s;
  transform-origin: 24vw 16vh;
  box-shadow: 72vmin 0 9.148228531843628vmin currentColor;
}
